<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2048 - Developed by Taha Shieenavaz</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <section id="app" v-cloak>
      <header class="flex sb">
        <div>
          <h1>2048</h1>
          <p>Join the tiles, get to 2048!</p>
          <a href="#">How to play ?</a>
        </div>

        <div class="flex has-rows sb">
          <div class="scores flex gap-3">
            <div class="score rounded">
              <p>Score</p>
              <p>{{score}}</p>
            </div>
            <div class="score rounded">
              <p>Best</p>
              <p>{{best}}</p>
            </div>
          </div>
          <button @click="newGame" class="rounded">New Game</button>
        </div>
      </header>

      <main id="board" class="rounded" v-cloak>
        <div v-for="row in board" class="row">
          <div
            v-for="cell in row"
            class="cell rounded"
            :style="{background: getColor(cell)}"
            :class="{'cell-2': cell === 2, 'cell-4': cell === 4}"
          >
            {{cell === 0 ? '' : cell}}
          </div>
        </div>
      </main>
      <footer style="margin-top: 4rem; font-size: 1.3rem">
        Developed by
        <a href="https://underdash.tech" target="_blank">Taha Shieenavaz</a>
      </footer>
    </section>
    <script src="https://unpkg.com/vue"></script>
    <script src="app.js" type="module"></script>
  </body>
</html>
